* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.planets_info__container {
  display: flex;
  align-items: start;
}

@import './planetList';
@import './planetInfo';
@import './planetInput';