.planets_list {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 2rem;
    gap: 2.5rem;
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

}